body {
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: fixed;
    top: 5%;

}

.container h1, .container p {
    color: white;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #7FFF00;
    top: 20%
}